@CHARSET "UTF-8";


#divcorpo {
	background-color: rgba(0,0,0,0.3);
	width: 800px;
	font-family: sans-serif;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	color: white;
	border: 1px solid white;
	size: 100;
}
th{
	padding: 10px 20px;
}
#listar{
font-size: 16pt;
padding: 2px 10px;	
}
.panel-heading{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}
.idoculto{
	background-color: rgba(0,0,0,0.0);
}
#imgpaladar{
	width:150px;
	height:150px;
	overflow:hidden;
	position:absolute;
	float: right;
	margin-left: 900px;
	margin-top: 100px; 
}
#nomepratos{	/*Label do nome dos pratos e descricao*/
  background-color: #FFFFFF;
  color: #000000;
  padding: 1px;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  text-decoration: none;
  text-transform: none;
}
body {
		background: url("../-imagem/fundo.png") no-repeat;
	    -moz-background-size: 100% 100%;
	    -webkit-background-size: 100% 100%;
	    background-size: 100% 200%;} 
}	


