@CHARSET "UTF-8";

body {
		background: url("../-imagem/fundo.png") no-repeat;
	    -moz-background-size: 100% 100%;
	    -webkit-background-size: 100% 100%;
	    background-size: 100% 200%;} 
}
#imagem-paladar{
background-image: url("../-imagem/paladar.png") no-repeat; /* Insere a imagem */
width: 100px;    /* Faz a largura ficar igual a da largura da imagem de exemplo */
height: 100px;   /* Faz a altura ficar igual a da altura da imagem de exemplo */
}
#divcorpo {
	background-color: rgba(0,0,0,0.3);
	width: 800px;
	font-family: sans-serif;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	color: white;
	border: 1px solid white;
}
th{
	padding: 10px 20px;
}

#listar{
font-size: 16pt;
padding: 2px 10px;	
}

.panel-heading{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}

.idoculto{
	background-color: rgba(0,0,0,0.0);
}