@CHARSET "UTF-8";
body {
		background: url("../-imagem/3QrfxRb.jpg") no-repeat;
	
}

#divcorpo {
	background-color: rgba(0,0,0,0.3);
	width: 300px;
	height: 150px;
	margin: auto;
	margin-top: 200px;
	padding: 20px;
	color: white;
	border: 1px solid white;
}